
	<header>
		<div id="wb-bnr" class="container">
			<div class="row">
				<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
					<a href="https://www.canada.ca/{{ page.lang }}.html" property="url">
						<img src="{{ site.assets }}/{{ site.theme-name }}/assets/sig-blk-{{ page.lang }}.svg" alt="{{ page.i18n.tmpl-gc-wmms[page.lang] }}" property="logo" />
						<span class="wb-inv"> /
							<span lang="{% if page.lang == 'en' %}fr">{{ page.i18n.tmpl-gc-sig["fr"] }}{% else %}en">{{ page.i18n.tmpl-gc-sig["en"] }}{% endif %}</span>
						</span>
					</a>
					<meta property="name" content="{% if page.lang == 'en' %} {{ page.i18n.tmpl-gc-sig["fr"] }} {% else %} {{ page.i18n.tmpl-gc-sig["en"] }} {% endif %}">
					<meta property="areaServed" typeOf="Country" content="Canada" />
					<link property="logo" href="{{ site.assets }}/{{ site.theme-name }}/assets/wmms-blk.svg" />
				</div>

				<div id="wb-lng" class="col-xs-3 col-sm-6 text-right">
					<h2 class="wb-inv">{{ page.i18n.tmpl-lang-select[page.lang] }}</h2>
					<ul class="list-inline mrgn-bttm-0">{% if page.lang == "en" %}
						<li>
							<a lang="fr" hreflang="fr" href="/fr/{{ page.altLangPrefix }}.html">
								<span class="hidden-xs">{{ page.i18n.tmpl-lang-native["fr"] }}</span>
								<abbr title="{{ page.i18n.tmpl-lang-native["fr"] }}" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
							</a>
						</li>{% endif %}
						{% if page.lang == "fr" %}
						<li>
							<a lang="en" hreflang="en" href="/en/{{ page.altLangPrefix }}.html">
								<span class="hidden-xs">{{ page.i18n.tmpl-lang-native["en"] }}</span>
								<abbr title="{{ page.i18n.tmpl-lang-native["en"] }}" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
							</a>
						</li>{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div style="background: linear-gradient(to right, #01023B, #A53F52 50%, #EA9A5C); color: #fff; padding: 1em 0;">
			<nav class="container wb-navcurr">
				<span class="lead" style="text-transform: uppercase; letter-spacing: .8rem;">{{ page.i18n.tmpl-cet-name[page.lang] }} ABC</span>
			 </nav>
		</div>
	{% if page.sitemenu %}
	{% include sitemenu.html %}
	{% else %}
		<span data-trgt="mb-pnl" class="wb-menu hide"></span>
	{% endif %}
	{% if page.breadcrumbs %}
	{% include breadcrumbs.html %}
	{% endif %}
	{% if page.signed %}
	{% include sign-on-off.html %}
	{% endif %}
	</header>
