<nav class="gcweb-menu" typeof="SiteNavigationElement">
  <div class="container">
    <h2 class="wb-inv">Menu</h2>
    {% if page.lang == "en" %}
    <button type="button" aria-haspopup="true" aria-expanded="false">
      <span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span>
    </button>
    <ul role="menu" aria-orientation="vertical">
    {% for p in site.pages %}
      {% if p.dir contains '/en/' %}
      <li role="presentation"><a role="menuitem" href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <button type="button" aria-haspopup="true" aria-expanded="false">
      Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span>
    </button>
    <ul role="menu" aria-orientation="vertical">
    {% for p in site.pages %}
      {% if p.dir contains '/fr/' %}
      <li role="presentation"><a role="menuitem" href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</nav>

<!--

{% for p in site.pages %}
  Relative URL: {{ p.url | relative_url }}
  Title: {{ p.title }}
  Directory: {{ p.dir }}
  Contains /en/: {% if p.dir contains '/en/' %}Yes{% else %}No{% endif %}

{% endfor %}

-->