{% if page.lang == "en" %}
		<nav class="gcweb-menu" typeof="SiteNavigationElement">
			<div class="container">
				<h2 class="wb-inv">Menu</h2>
				<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
				<ul role="menu" aria-orientation="vertical">
					<li role="presentation"><a role="menuitem" href="./">Home</a></li>
					<li role="presentation"><a role="menuitem" href="./about-us.html">About us</a></li>
					<li role="presentation"><a role="menuitem" href="./intake.html">Work with us</a></li>

				</ul>
			</div>
		</nav>
{% else %}
		<nav class="gcweb-menu" typeof="SiteNavigationElement">
			<div class="container">
				<h2 class="wb-inv">Menu</h2>
				<button type="button" aria-haspopup="true" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
				<ul role="menu" aria-orientation="vertical">
					<li role="presentation"><a role="menuitem" href="./a-propos-de-nous.html">À propos de nous</a></li>
				</ul>
			</div>
		</nav>
{% endif %}
